<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>主页</title>
    <link href="{% static 'boots/css/bootstrap.min.css'%}" style="text/css" rel="stylesheet">
</head>
<body class = 'container'>
<div class="jumbotron" style="margin-top: 200px;">
  <h1 class="display-4">欢迎访问！</h1>
  <p class="lead">本网站制作测试学习用途</p>
  <hr class="my-4">
  <p></p>
  <a class="btn btn-primary btn-lg" href="map" role="button" style="margin: 20px">cong的留言板</a>
    <a class="btn btn-primary btn-lg" href="cong" role="button">cong的个人主页</a>
</div>
</body>
</html>